*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: #b9c932;
}

.App {
  height: 100%;
  background: #b9c932;
  color: white;
}

.main-ctn {
  height: 100vh;
  width: 100%;
  min-width: 600px;
  margin-top: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 24px;
}

.navbar-ctn {
  min.width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid white;
  gap: 50px;
}

.input-ctn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-text,
.submit-btn,
.newgame-btn {
  padding: 20px;
  font-size: 35px;
  margin: 10px;
  background: #b9c932;
  width: 100%;
  text-align: center;
}

.newgame-btn {
  padding: 20px;
  font-size: 35px;
  margin: 10px;
  background: #b9c932;
  width: 50%;
  text-align: center;
  align-items: center;
}

.input-text {
  border: 0;
  border-bottom: 1px solid white;
}

.input-text::placeholder {
  color: white;
}

.submit-btn,
.newgame-btn {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  border: 1px solid white;
  color: white;
}

.submit-btn:hover,
.newgame-btn:hover {
  background: white;
  color: #b9c932;
  cursor: pointer;
  transition: 0.3s;
}

.newgame-ctn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.outcome-ctn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.outcome-ctn p {
  font-size: 30px;
  padding: 30px;
}

.accent {
  color: #052e45;
}

.bottom-ctn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 30px;
}

.word-display {
  font-size: 60px;
  text-transform: capitalize;
  text-align: center;
  margin: 30px;
}

.bottom-ctn p {
  font-size: 30px;
}

.guesses-ctn {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
}

.guessed-letters {
  font-size: 30px;
  text-transform: capitalize;
  text-align: center;
}
